.mainText {
  max-width: 600px;
  text-align: center;
  margin: 20px auto 0 auto;
  padding: 0 15px;
  text-align: left;
}

.carouselContainer {
  margin: 50px auto;
  width: 100%;
  overflow-x: hidden;
}

.carousel {
  display: flex;
  transform: translateX(-33%);
  touch-action: none;
}

.carousel img {
  width: 28%;
  margin: 10px 2.5%;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  user-select: none;
}