.mainText {
  max-width: 600px;
  text-align: center;
  margin: 20px auto 0 auto;
  padding: 0 15px;
  text-align: left;
}

.sliderContainer {
  margin: 50px auto;
  width: 100%;
  max-width: 800px;
  overflow-x: hidden;
}

.slider {
  display: flex;
  transform: translateX(0);
  touch-action: none;
  width: 100%;
}

.img {
  width: 30%;
  margin: 10px 1.6%;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  user-select: none;
  opacity: 0.6;
}

.current {
  opacity: 1;
  border: 2px solid black;
}